DATABASE_NAME=mhh_client_db
DATABASE_USER=mhh_user
DATABASE_PASSWORD=mhh_password_2024
DATABASE_HOST=localhost
DATABASE_PORT=5432
SECRET_KEY=w0#h&h78iw@(@+i01=g#-g!+&^xv$)9n=lue+iedp6-yx15ln6
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
